body {
    margin: 0;
}

/* 头部样式 */
.main-head {
    width: 100%;
    height: 130px;
    background-color: #242424;
}

.main-head-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 130px;
    width: 1000px;
    margin: 0 auto;
}

.logo-img {
    margin-right: 20px;
}

.logo-name {
    margin-right: 150px;
    color: #fff;
    font-size: 23px;
    font-weight: 200;
}

.main-head-seach {
    display: flex;
    align-items: center;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff; 
}

.main-head-seach input {
    width: 280px;
    height: 30px;
    margin-left: 20px;
    padding: 0px;
    outline: #fff;
    border: 0px;
    font-size: 25px;
}

.main-head-seach button {
    width: 30px;
    height: 30px;
    padding: 0px;
    cursor: pointer;
    outline: #fff;
    border: 0;
    background: none;
}

.main-head-seach button img {
    width: 30px;
    height: 30px;
}

.main-head-login {
    position: absolute;
    right: 0;
}

.main-head-login button {
    font-size: 25px;
    padding: 0px;
    cursor: pointer;
    outline: #fff;
    border: 0;
    color: #fff;
    background: none;
}

/* 身体样式 */
.main-body {
    background-color: #f5f5f5;
}

.main-body-container {
    position: relative;
    height: 500px;
    width: 800px;
    background-color: #fff;
    margin: 0 auto;
}

.main-body-music-img {
    float: left;
    width: 200px;
    height: 200px;
    margin: 80px;
}

.main-body-music-img .cd {
    width: 200px;
    height: 200px;
    border-radius: 85px;
}

.main-body-music-img .music-img {
    position: relative;
    left: 37px;
    bottom: 169px;
    border-radius: 65px;
}

/* 让图片旋转 */
.img-rotate {
    animation: que 8s linear infinite;
}

@keyframes que {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.main-body-music-list{
    display: inline-block;
    margin-top: 40px;
    margin-right: 40px;
}

.main-body-music-list-title {
    font-size: 25px;
}

.main-body-music-list-table table {
    width: 400px;
}

/* 表格样式 */
.t1,.t3,.t4 {
    width: 80px;
}

.t2 {
    width: 160px;
}

td {
    overflow: hidden;
}

thead td {
    font-weight: 700;
}

/* 底部播放器样式 */
.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #242424;
}

.music-player-container {
    width: 1200px;
    height: 130px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.start-pause {
    margin-left: 40px;
}

.left,.right {
    width: 60px;
    height: 60px;
    margin-left: 40px;
}

/* 进度条样式 */
.progress-bar {
    margin-left: 60px;
}

.progress-bar-scroll {
    position: relative;
    display: inline-block;
    background-color: #ccc;
    width: 500px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar-button {
    position: absolute;
    top: -5px;
    background-color: #E159D3;
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

.progress-progress-forward {
    background-color: #48BCFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 0px;
    height: 10px;
}

.progress-bar-time {
    display: inline-block;
    margin-left: 40px;
    color: #ccc;
}